:host {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background: blue;
}

canvas {
    pointer-events: none;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
