.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    * {
        height: 60px;
        width: 200px;
        border-radius: 4px;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
    }
}
