@import "../variables.scss";

:host {
    max-width: 830px;
    display: block;
    padding-top: 10vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px 10px;
    padding-bottom: 30vh;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        background: $dark;
        white-space: nowrap;
    }
    * {
        height: 60px;
        width: 200px;
        border-radius: 4px;
    }
}
