@import "../variables.scss";

:host {
    max-width: 1200px;
    display: block;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px 10px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        background: $dark;
    }
    * {
        height: 60px;
        width: 200px;
        border-radius: 4px;
    }
}
